body {
  pointer-events: auto;
}

#page {
	padding: 10px 0 10px;
}

#leftSide {
	float: left;
	margin-left: 10px;
}

#buttonDivider {
	margin: 0 5px 0;
	float: left;
	position: relative;
}

#buttonDivider button {
	position: fixed;
	height: 50px;
	width: 17px;
	padding: 0;
	margin: 300px 0 0;
}

#buttonDivider button:hover {
	cursor: move;
}

#rightSide {
	float: right;
}

#rightSide > div {
	width: inherit;
	position: fixed;
	right: 10px;
}

.move-button, .deps-button {
	max-height: 35px;
	min-width: 173px;
}

.deps-button {
	color: green;
}

.move-button {
	color: blue;
}

.moveText {
	position: absolute;
	border: 1px solid #000;
  border-radius: 3px;
  opacity: 0.9;
  padding: 5px;
  background-color: #fff;
}

.filter-input {
	width: 497px;
}

.activeFilter {
	background: #f9b1b1;
}

.th-filterable {
	background-image: url(img/bg.gif);
  background-repeat: no-repeat;
  background-position: bottom 1px right -6px;
}

.th-filterable.asc {
	background-image: url(img/asc.gif);
}

.th-filterable.desc {
	background-image: url(img/desc.gif);
}