body {
  pointer-events: auto;
}

button, .button-div {
  max-height: 36px;
}

#page {
	padding: 10px 0 10px;
}

#leftSide {
	float: left;
	margin-left: 10px;
}

#buttonDivider {
	margin: 0 5px 0;
	float: left;
	position: relative;
}

#buttonDivider button {
	position: fixed;
	height: 50px;
	width: 17px;
	padding: 0;
	margin: 300px 0 0;
}

#buttonDivider button:hover {
	cursor: move;
}

#rightSide {
	float: right;
}

#rightSide > div {
	width: inherit;
	position: fixed;
	right: 10px;
}

.move-button {
	max-height: 35px;
	min-width: 173px;
}

.move-button i {
	background-color: rgba(123, 40, 219, 0.12)!important;
}

.moveText {
	position: absolute;
	border: 1px solid #000;
  border-radius: 3px;
  opacity: 0.9;
  padding: 5px;
  background-color: #fff;
}

.filter-input {
	width: 100%;
}

.activeFilter {
	background: #f9b1b1;
}

.th-filterable {
	background-image: url(img/bg.gif);
  background-repeat: no-repeat;
  background-position: bottom 1px right -6px;
}

.th-filterable.asc {
	background-image: url(img/asc.gif);
}

.th-filterable.desc {
	background-image: url(img/desc.gif);
}

.vertical-auto {
	margin: auto 0!important;
}

.deliveryZones {
	width: 533px!important;
  margin-right: 10px;
}

.nomarginl {
  margin-left: 0px!important;
}

.table > * > tr > * {
  line-height: 1.4285em!important;
  font-size: 13px!important;
}
.nomargin {
  margin: 0!important;
}
.main-table {
  max-height: 700px;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
}
.table-style {
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.nowr {
  white-space: nowrap;
}