#page {
	padding: 10px 0 10px;
}

#leftSide {
	float: left;
	margin-left: 10px;
}

#buttonDivider {
	margin: 0 5px 0;
	float: left;
	position: relative;
}

#buttonDivider button {
	position: fixed;
	height: 50px;
	width: 17px;
	padding: 0;
	margin: 300px 0 0;
}
#buttonDivider button:hover {
	cursor: move;
}

#rightSide {
	float: right;
}

#rightSide > div {
	width: inherit;
	position: fixed;
	right: 10px;
}